header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

button:first-of-type {
  margin-right: 12px;
}

button {
  background-color: #4299e1;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5em;
  border: 0;
  padding: 10px 20px;
}
