<form [formGroup]="myform" (ngSubmit)="(onSave)" autocomplete="off">
  <h2>Bienvenido a Musicallist</h2>
  <div class="texto">
    <p>
      Si tienes una cuenta creada, introduce tus datos y entraras en tu página
      de perfil, si no registrate.
    </p>
  </div>

  <div class="email">
    <input type="email" formControlName="email" placeholder="Email" />
    {{ !validField("email") ? "" : "El email is requerido" }}
  </div>

  <div class="password">
    <input
      type="password"
      formControlName="password"
      placeholder="Contraseña"
    />
    {{ !validField("password") ? "" : "La contraseña no es válida" }}
  </div>
</form>

<button type="submit">Enviar</button>
