.button {
  padding: 10px;
  text-align: center;
}

form {
  text-align: center;
  padding: 10px;
}

form p {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

input {
  padding: 5px;
}
