<app-header></app-header>
<div>
  <section>
    <h2>Hola, somos Musicallist</h2>
  </section>
  <h1>Título súper molón</h1>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur obcaecati
  ratione non similique fuga accusamus error? Similique facere quod ipsum. Iusto
  perspiciatis non neque eius voluptatibus odio aliquid incidunt saepe?
</div>
<section>
  <img src="./assets/imgs/musicallist.jpg" alt="Todo sobre musicallist" />
  <img src="./assets/imgs/mision.jpg" alt="A que nos dedicamos" />
  <img src="./assets/imgs/sonrisa.jpg" alt="Todo lo bueno que hemos hecho" />
</section>
<app-footer></app-footer>
