<main>
  <h2>Título súper molón</h2>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, aliquam
    officia? Officia eum quo quae dicta, consequatur id. Nulla iusto molestiae
    reiciendis consequuntur aliquam rerum enim explicabo iure sunt provident!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non culpa
    similique obcaecati vel, eos explicabo adipisci, rerum libero ratione iure
    doloremque sapiente at, atque et. Exercitationem, officiis impedit!
    Laudantium, ipsa. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    Aspernatur praesentium sed cupiditate voluptatibus voluptas magnam eaque ad
    beatae dolorum nostrum at, minus blanditiis rem quae officiis.
  </p>

  <section>
    <app-info-links-and-images></app-info-links-and-images>
  </section>
</main>
