<div class="container">
  <div class="row">
    <h3 class="text1 imgSubtitle">Todo sobre musicallist</h3>
    <img class="image1" src="https://dummyimage.com/740x998/000/fff" alt="" />
  </div>
  <div class="row">
    <div>
      <h3 class="text2 imgSubtitle">Lo mejor de musicallist</h3>
      <img class="image2" src="https://dummyimage.com/740x494/000/fff" alt="" />
    </div>
    <div>
      <h3 class="text3 imgSubtitle">Todo lo que podemos hacer</h3>
      <img class="image3" src="https://dummyimage.com/740x494/000/fff" alt="" />
    </div>
  </div>
</div>
