<footer>
  <h2>Musicallist</h2>

  <ul class="footerbar">
    <li><a class="enlace" routerLink="#">Contacto</a></li>
    <li><a class="enlace" routerLink="#">Aviso legal</a></li>
    <li><a class="enlace" routerLink="#">Política de privacidad</a></li>
  </ul>

  <ul class="enlaces">
    <li>
      <a routerLink="#" target="_blank"
        ><img src="./assets/imgs/linkedin.svg" alt="Linkedlin" width="100px"
      /></a>
    </li>

    <li>
      <a routerLink="#" target="_blank"
        ><img src="./assets/imgs/github.svg" alt="Github" width="100px"
      /></a>
    </li>
  </ul>
</footer>
